@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "IranSansMedium";
	src: url("/assets/fonts/IRANSansMobile_Medium.ttf");
}

:root {
	--toastify-toast-width: 100%;
	--toastify-font-family: "IranSansMedium", sans-serif;
	--toastify-z-index: 9999;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/*---------------------------- Scrollbar Customization with Prefixes: */
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
	outline: none;
	background-color: gray;
}

/*---------------------------- Hiding the arrow button from the type=number inputs: */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
	/* Firefox */
}
